/* FRONTEND CSS
*********************************************/
html {
  overflow-y: scroll;
}
body {
  background-color: #FFFFFF;
}

body {
  background: url(../images/main_bg.gif) repeat fixed center center transparent !important;
}

#content-middle {
  background: url(../images/contest-bg.jpg) center top no-repeat !important;
  width:760px;
  height:900px;
  margin: 0 auto;
  padding: 116px 0 0 0;
}
.contest-submitted #content-middle {
  background: url(../images/contest-bg-empty.jpg) center top no-repeat !important;
}
.contest-submitted .fb-like {
    position: fixed;
    top: -1000px;
}

.ccms_form_element input {
  width:208px;
}
#content1_container_div {
 /* margin-top:18px;*/
}
#input_submit_111_container_div {
  position:relative;
  left:-48px;
  top:422px;
  float: right;
}
#input_submit_111_container_div input[type="submit"]:enabled {
background-color:green;
color:white;
}
#content1_container_div {
  position:relative;
  top:451px;
  left:-41px;
  float:right;
  width:222px;
}
#zipcode1_container_div {
  position:relative;
  top:450px;
  left:-41px;
  float:right;
  width:222px;
}
#email1_container_div {
  position:relative;
  top:480px;
  left:-41px;
  float:right;
}
#username1_container_div {
  position:relative;
  top:510px;
  left:-41px;
  float:right;
}
.ccms_form_element label {
  font-weight:normal !important;
  color: lightgray;
}
.chronoform {
  position:absolute;
  top:-1000px;
}
div div.facebook_button_bg {
   background-size: 1px 24px;
    float: right;
    height: 24px;
    left: 498px;
    margin: 0 auto;
    position: absolute;
    top: 936px;
    width: 165px;
}
.facebook_button {
background-size: 22px auto;
line-height: 25px !important;
padding-left: 4px !important;
}
.cblogin {
}
#login-formcblogin .userdata {
}
#system-message-container {
	position: fixed;
	top: -1000px;
}
.cbLogoutButtonSpan {
    float: right;
    position: absolute;
    left: 495px;
    top: 935px;
}
.cbLogoutButtonSpan  input[type="submit"] {
width:167px;
height:26px;
}
.cbLoginForm {
    float: left;
    height: 1px;
    position: absolute;
    top: -300px;
    width: 760px;
}
#mod_login_logoutform {
    float: left;
    margin: 0;
    position: absolute;
    top: -300px;
}
/* LAYOUT
*********************************************/
/* Floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.ie7 .group {
  zoom: 1;
}
.fb-like {
  width:50px;
height: 30px;
  overflow:hidden;
    top: 522px;
    left: -41px;
  float: right;
position:relative;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

/* Media Queries
*********************************************/
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
