<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<document>
  <options>
    <forbiddentypes>.jpg
.jpeg
.gif
.png</forbiddentypes>
    <excludelist></excludelist>
    <sitemapurl>/sitemap.xml</sitemapurl>
    <priority>auto</priority>
    <changefreq>daily</changefreq>
    <method>curl</method>
    <level>3</level>
    <maxconn>50</maxconn>
    <docroot>/opt/joomla-173</docroot>
    <timeout>20</timeout>
	</options>
</document>